
header .container {

    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

    .hero {
        
        img {
            max-width: 100%;
            
        }

        h1 {
            padding: 1rem 0 0;
            text-align: center;
            width: 100%;
        }
    }

}