#pre-header {
	background-color: #3a8bcd;
	text-align: center;
	
	span {
		color: #fff;
		font-size: 15px;
		padding: 10px 0px;
		display: inline-block;
	}
}

.navbar {
	.navbar-brand {
		text-align: center;
		width: 100%;
		position: relative;
		padding: 25px 0px;
	}
	
}
.bg-dark {
	background-color: #fff!important;
	border-bottom: 1px solid #eee;
}

#navbarResponsive {
	z-index: 999;
	position: absolute;
	left: 50%;
	top: 130px;
	transform: translateX(-50%);
}

.navbar-dark{
	.navbar-nav{
		.nav-item {
			margin: 0px 15px;
		}
		.nav-link {
			text-transform: uppercase;
			font-size: 15px;
			font-weight: 700;
			color: #1e1e1e;
			transition: all 0.5s;
			.nav-link:hover,
			.active>.nav-link,
			.nav-link.active,
			.nav-link.show,
			.show>.nav-link {
			  color: #3a8bcd;
		  }
		}
	
	} 
	.navbar-toggler-icon {
		background-image: none;
		&:after {
			content: '\f0c9';
			color: #FFF;
			font-size: 22px;
			line-height: 30px;
			font-family: 'FontAwesome';
		}
	}

	.navbar-toggler {
		border-color: #3a8bcd;
		background-color: #3a8bcd;	
		height: 50px;
		outline: none;
	}

} 

.navbar:after {
	width: 100%;
	height: 1px;
	background-color: #eee;
	content: '';
	position: absolute;
	left: 0;
	bottom: -52px;
}